/*Add your CSS here*/
* { margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   font-size: 16px;
   color: #000000;
}

h1{
  font-size: 35px;
  text-align: center;
}

h2{
  color: pink;
  text-align: center;
}

Img{
   width: 100%;
   height: auto;
}

nav {
   text-align: center;
   padding: 1rem 0 2rem;
}


/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
